@import url(./__input/comment__input.css);
@import url(./__add/comment__add.css);

.comment {
  max-width: 50%;
  display: none;
}

@media screen and (max-width: 1024px) {
  .comment {
    max-width: 75%;
  }
}

@media screen and (max-width: 420px) {
  .comment {
    max-width: 100%;
  }
}
