@import url(./__name/show-company__name.css);

.show-company {
  padding-right: 101px;
  padding-left: 101px;
}

@media screen and (max-width: 1024px) {
  .show-company {
    padding-right: 59px;
    padding-left: 59px;
  }
}

@media screen and (max-width: 768px) {
  .show-company {
    padding-right: 42px;
    padding-left: 42px;
  }
}

@media screen and (max-width: 375px) {
  .show-company {
    padding-right: 28px;
    padding-left: 28px;
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  .show-company {
    padding-right: 6px;
    padding-left: 6px;
  }
}
